version: '3.4'

services: 
    todo-api:
        build: 
            context: ./api            
        ports: 
            - "9000:9000"
        depends_on: 
            - mongo
    mongo:
        image: mongo
        ports:
            - "27017:27017"