.li-todo {
  margin: 0 auto;
  margin-top: 15px;
  width: auto;
  max-width: 900px;
  display: grid;
  background-color: #fff;
  grid-template-columns: 55px auto 115px;
  grid-gap: 1%;
  align-content: center;
  align-items: center;
  height: fit-content;
  position: relative;

  span {
    max-width: 780px;
    word-wrap: break-word;
    grid-column: 2 / 3;
  }

  .remove-button {
    grid-column: 3 / 4;
  }&:hover{
    grid-column: 3 / 4;
  }
}
